Repository ruixiaozi/rxz-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js, eslint --ext .ts

.lintstagedrc.json:

{
   "packages/**/*.vue": "eslint --ext .js",
   "packages/**/*.ts": "eslint --ext .ts"
 }

fix(2.1.1): 修复tableCellrender操作类渲染bug，增加按钮组data参数
  CHANGELOG.md
  docs/components/advance/rxzbuttongroup.md
  docs/use/popup/userxzmessagebox.md
  packages/components/advance/RxzButtonGroup/RxzButtonGroup.define.ts
  packages/components/advance/RxzButtonGroup/RxzButtonGroup.vue
  packages/components/table/RxzTableCellRender/RxzTableCellRender.vue
  packages/use/useRxzMessageBox.ts
Due: eslint --ext .js, eslint --ext .ts

feat(2.1.1): 增加RxzTree组件
  components.d.ts
  docs/.vuepress/components/index.ts
  docs/.vuepress/components/tree/TestRxzTree.vue
  docs/.vuepress/config.ts
  docs/components/navigation/rxztree.md
  packages/components/navigation/RxzTree/RxzTree.define.ts
  packages/components/navigation/RxzTree/RxzTree.scss
  packages/components/navigation/RxzTree/RxzTree.vue
  packages/components/navigation/RxzTree/index.ts
  packages/components/navigation/index.ts
Due: eslint --ext .js, eslint --ext .ts

fix(2.1.1): 修复组件判断方法；修复tree组件selected子菜单无效问题
  docs/.vuepress/components/tree/TestRxzTree.vue
  packages/components/navigation/RxzTree/RxzTree.vue
  packages/utils/common.ts
Due: eslint --ext .js, eslint --ext .ts

fix(2.1.1): 修复tree文字过宽自动换行问题
  docs/.vuepress/components/tree/TestRxzTree.vue
  packages/components/navigation/RxzTree/RxzTree.scss
Due: none

feat(2.1.1): 增加RxzList组件
  CHANGELOG.md
  components.d.ts
  docs/.vuepress/components/index.ts
  docs/.vuepress/components/list/TestRxzList.vue
  docs/.vuepress/config.ts
  docs/components/base/rxzlist.md
  packages/components/base/RxzList/RxzList.define.ts
  packages/components/base/RxzList/RxzList.scss
  packages/components/base/RxzList/RxzList.vue
  packages/components/base/RxzList/index.ts
  packages/components/base/index.ts
  packages/components/navigation/RxzTree/RxzTree.scss
Due: eslint --ext .js, eslint --ext .ts

feat(2.1.1): 发布
  CHANGELOG.md
Due: none

fix(2.1.2): 修复list文档代码
  docs/components/base/rxzlist.md
  package.json
Due: none

fix(2.1.2): 修复文档
  docs/components/README.md
  docs/components/table/rxztable.md
Due: none

fix(2.1.2): 修复日志
  CHANGELOG.md
Due: none

fix(2.1.2): 修复菜单展开折叠无效问题
  CHANGELOG.md
  packages/components/navigation/RxzMenu/RxzMenu.vue
Due: eslint --ext .js

fix(2.1.2): 修复表格宽度问题；增加form-item的表格单元render方式，修复form值嵌套的bug
  README.md
  docs/components/form/rxzform.md
  docs/components/table/rxztable.md
  packages/components/form/RxzForm/RxzForm.define.ts
  packages/components/form/RxzForm/RxzForm.vue
  packages/components/table/RxzTable/RxzTable.scss
  packages/components/table/RxzTable/RxzTable.vue
  packages/components/table/RxzTableCellRender/RxzTableCellRender.define.ts
  packages/components/table/RxzTableCellRender/RxzTableCellRender.vue
Due: eslint --ext .js, eslint --ext .ts

feat(2.1.2): 增加RxzTableForm进阶组件
  components.d.ts
  docs/.vuepress/components/index.ts
  docs/.vuepress/components/tableform/TestTableForm.vue
  docs/.vuepress/config.ts
  docs/components/advance/rxztableform.md
  docs/components/table/rxztable.md
  packages/components/advance/RxzTableForm/RxzTableForm.define.ts
  packages/components/advance/RxzTableForm/RxzTableForm.scss
  packages/components/advance/RxzTableForm/RxzTableForm.vue
  packages/components/advance/RxzTableForm/index.ts
  packages/components/advance/index.ts
  packages/components/table/RxzTableCellRender/RxzTableCellRender.define.ts
  packages/components/table/RxzTableCellRender/RxzTableCellRender.vue
Due: eslint --ext .js, eslint --ext .ts

fix(2.1.2): 修复表格、表单相关bug
  docs/.vuepress/components/tableform/TestTableForm.vue
  packages/components/advance/RxzButtonGroup/RxzButtonGroup.vue
  packages/components/advance/RxzTableForm/RxzTableForm.define.ts
  packages/components/advance/RxzTableForm/RxzTableForm.vue
  packages/components/base/RxzSelect/RxzSelect.vue
  packages/components/form/RxzForm/RxzForm.define.ts
  packages/components/form/RxzFormItem/RxzFormItem.scss
  packages/components/table/RxzTable/RxzTable.vue
  packages/components/table/RxzTableCellRender/RxzTableCellRender.scss
  packages/components/table/RxzTableCellRender/RxzTableCellRender.vue
Due: eslint --ext .js, eslint --ext .ts

fix(2.1.2): RxzRadio增加局部禁用
  docs/.vuepress/components/radio/TestRxzRadioExp2.vue
  docs/components/base/rxzradio.md
  packages/components/base/RxzRadio/RxzRadio.define.ts
  packages/components/base/RxzRadio/RxzRadio.vue
Due: eslint --ext .js, eslint --ext .ts

feat(2.1.2): 增加cellrender日期类型，增加useI18n获取当前语言环境属性
  docs/components/table/rxztable.md
  docs/use/base/userxzi18n.md
  packages/components/table/RxzTableCellRender/RxzTableCellRender.define.ts
  packages/components/table/RxzTableCellRender/RxzTableCellRender.vue
  packages/use/useRxzI18n.ts
  packages/utils/common.ts
Due: eslint --ext .js, eslint --ext .ts

feat(2.1.2): 发布2.1.2
  CHANGELOG.md
Due: none

feat(2.1.3): 开始2.1.3
  CHANGELOG.md
  package.json
Due: none

feat(2.1.3): 引入tsx，使用tsx模式重写popup和popover；引入vueuse
  .eslintrc.js
  CHANGELOG.md
  babel.config.js
  docs/.vuepress/config.ts
  docs/.vuepress/webpack.config.ts
  package.json
  packages/components/template/RxzPopoverTpl/RxzPopoverTpl.define.ts
  packages/components/template/RxzPopoverTpl/RxzPopoverTpl.vue
  packages/components/template/RxzPopupTpl/RxzPopupTpl.vue
  packages/components/template/RxzPopupTpl/index.ts
  packages/components/template/index.ts
  packages/directives/vRxzTooltip.ts
  packages/types/index.ts
  packages/use/useRxzDom.ts
  packages/use/useRxzPopover.tsx
  packages/use/useRxzPopup.tsx
  packages/utils/popover.ts
Due: eslint --ext .js, eslint --ext .ts

feat(2.1.3): 更新文档
  docs/use/popup/userxzpopover.md
  docs/use/popup/userxzpopup.md
  packages/use/useRxzPopover.tsx
Due: none

feat(2.1.3): table增加过滤
  CHANGELOG.md
  docs/components/table/rxztable.md
  packages/components/table/RxzTable/RxzTable.define.ts
  packages/components/table/RxzTable/RxzTable.vue
Due: eslint --ext .js, eslint --ext .ts

feat(2.1.3): 修复inject默认值问题
  CHANGELOG.md
  packages/components/form/RxzForm/RxzForm.vue
  packages/components/form/RxzFormItem/RxzFormItem.vue
  packages/components/form/RxzLabel/RxzLabel.vue
  packages/components/navigation/RxzTree/RxzTree.vue
  packages/components/table/RxzTableCellRender/RxzTableCellRender.vue
  packages/use/useRxzBindingWithinSetup.ts
  packages/use/useRxzRelativeValidatorWithinSetup.ts
Due: eslint --ext .js, eslint --ext .ts

feat(2.1.3): 修复绑定值的逻辑，优化空值判定和处理
  CHANGELOG.md
  packages/use/useRxzBindingWithinSetup.ts
Due: eslint --ext .ts

feat(2.1.3): select组件添加placeholder、bindProperty、clear属性
  CHANGELOG.md
  docs/.vuepress/components/index.ts
  docs/.vuepress/components/select/TestRxzSelect.vue
  docs/.vuepress/components/select/TestRxzSelectExp2.vue
  docs/.vuepress/components/select/TestRxzSelectExp3.vue
  docs/.vuepress/components/select/TestRxzSelectExp4.vue
  docs/.vuepress/components/select/TestRxzSelectExp5.vue
  docs/components/base/rxzselect.md
  packages/components/base/RxzSelect/RxzSelect.define.ts
  packages/components/base/RxzSelect/RxzSelect.scss
  packages/components/base/RxzSelect/RxzSelect.vue
  packages/use/useRxzPopup.tsx
Due: eslint --ext .js, eslint --ext .ts
